<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.app.TestNGDemo.AppTest"/>
      <class name="com.app.TestNGDemo.Login"/>
      <class name="com.app.TestNGDemo.TestNGDemo_Sec"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
